.MainPageBlock {
    margin: 24px;
}

.blockStat {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blockTag {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blockAlerts {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blockCarousel{
    margin-top: 16px;
    margin-bottom: 16px;
}

.blockCards {
    margin-top: 16px;
    margin-bottom: 16px;
}